.product-results-wrapper {
    width: 50vw;
    display: block;
    margin: 50px auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > div:first-child{
    text-align: left;
}

.header > div:last-child{
    text-align: right;
}

.header > div {
    width: 50vw;
    height: 30px;
    line-height: 30px;
    border-bottom: 5px solid gray;
    text-align: center;
    margin-right: 10px;
}

.product-row {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-name {
    margin: 15px;
    font-size: 20px;
    color: gray;
    font-weight: bold;
}

.unavailable {
    color: red;
}