.container {
    margin: 50px;
}

.title {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 700;
    color: gray;
    text-transform: uppercase;
    text-align: center;
    margin: 1em auto;
}

.product-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-input {
    width: 40vw;
    margin: auto;
    padding: 10px;
    color: gray;
    font-size: 16px;
    outline: none;
    border: 1px solid gray;
}

.stock-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

input[type="checkbox" i] {
    margin: 0 10px;
}